*{
    margin: 0;
    padding: 0;
}
/* Login de inicio */
#login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-image: url("img/fondoo.webp");
    background-size: cover;
}
.boton{
    display: flex;
    justify-content: end;
}

#interfaz{
    display: block;
    height: 100%;
}
#contenedor_interfaz{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}
#contenedor_interfaz-retirar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}