*{
    margin: 0;
    padding: 0;
}
/* Login de inicio */
#login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-image: url("img/fondoo.webp");
    background-size: cover;
}
.boton{
    display: flex;
    justify-content: end;
}

#interfaz-content{
    display: none;
    height: 100%;
}
#contenedor_interfaz{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

#interfaz-consultar{
    display: none;
    height: 100%;
}
#contenedor_interfaz-consultar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

#interfaz-ingresar{
    display: none;
    height: 100%;
}
#contenedor_interfaz-ingresar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

#interfaz-retirar{
    display: none;
    height: 100%;
}
#contenedor_interfaz-retirar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}
.error{
    color: #f02849;
    font-size: 13px;
    text-align: center;
}